<?xml version="1.0" encoding="UTF-8"?>
<iReportPlugins>
<iReportPlugin
	name="Check for iReport updates..sdasdasdasdasdasd."
	class="it.businesslogic.ireport.plugin.checkupdate.CheckUpdate"
	loadOnStartup="true"
	hide = "false"
	configurable = "true">

	<IconFile>/it/businesslogic/ireport/icons/upgrade.png</IconFile>

	<Description>Check for new iReport versions on iReport site.	</Description>

</iReportPlugin>
<iReportPlugin
	name="Check for iReport updates..OOOOOOOOOO"
	class="it.businesslogic.ireport.plugin.checkupdate.CheckUpdate"
	loadOnStartup="true"
	hide = "false"
	configurable = "true">

	<IconFile>/it/businesslogic/ireport/icons/upgrade.png</IconFile>

	<Description>Check for new iReport versions on iReport site.	</Description>

</iReportPlugin>
<iReportPlugin
	name="Check for iReport daskjhaskdfhalsd"
	class="it.businesslogic.ireport.plugin.checkupdate.CheckUpdate"
	loadOnStartup="true"
	hide = "false"
	configurable = "true">

	<IconFile>/it/businesslogic/ireport/icons/upgrade.png</IconFile>

	<Description>Check for new iReport versions on iReport site.	</Description>

</iReportPlugin>
</iReportPlugins>